# Node.js
node_modules/
dist/
build/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
.nyc_output/
.temp/
.vscode/

# Editor directories and files
.idea/
.project
.classpath
.c9/
*.swp
*.bak
*.swo
*~.nib
.vagrant/
.fuse_hidden*
.history
.sublime-workspace
.terraform

# Thumbnails
.thumbs
.thumbnails

# Misc
*.log
*.tmp
*.bak
*.swp
*~
.editorconfig
.prettierrc.json
.eslintrc.json
